<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>SynerGarette [시너가렛]</title>
</head>

<body>

<main layout:fragment="main">
    <div class="carousel w-full mb-10">
        <div id="item1" class="carousel-item w-full">
            <img src="/resource/common/images/synergaretteLogo.png" class="w-full" />
        </div>
    </div>

    <div class="mx-3 text-sm md:text-base" th:if="${!#lists.isEmpty(linksList)}">
        <div class="flex flex-col items-center justify-center"> <!-- 중앙 정렬을 위해 items-center 추가 -->
            <div th:each="links : ${linksList}" class="flex flex-row w-full h-16 mb-4 items-center justify-center"> <!-- 여백을 위해 mb-4 추가 -->


                <div id="clickTest" th:data-url="${links.urlLinks}" class="clickable-link flex flex-row border-2 border-slate-950 w-full max-w-3xl h-full dark:hover:bg-gray-300 light:hover:bg-slate-400 p-2"><!-- space-x-4는 이미지와 텍스트 사이의 간격을 조절합니다 -->
                    <div class="flex-none w-10 md:w-14 h-full"> <!-- 이미지를 왼쪽에 정렬하기 위해 flex 및 items-center 추가 -->

                        <div class="flex items-center h-full">
                            <th:block th:if="${!links.isBrands()} and ${!links.isImageUrls()}">

                            </th:block>

                            <th:block th:unless="${!links.isBrands()} and ${!links.isImageUrls()}">

                                <th:block th:if="${links.isBrands()} and ${!links.isImageUrls()}">
                                    <th:block th:if="${links.brand} == 'youtube'">
                                        <img src="/resource/common/images/youtube_social_icon_red.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == instagram">
                                        <img src="/resource/common/images/Instagram_Glyph_Gradient.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == melon">
                                        <img src="/resource/common/images/melon_symbol_screen_green.png" style="width: 40px; height: 42px;">
                                    </th:block>

                                    <th:block th:if="${links.brand} == spotify">
                                        <img src="/resource/common/images/spotify-logos-idyE-PQqf2.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == vibe">
                                        <img src="/resource/common/images/vibe.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == genie">
                                        <img src="/resource/common/images/genieMusic.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == youtubeMusic">
                                        <img src="/resource/common/images/youtubeMusic.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == appleMusic">
                                        <img src="/resource/common/images/appleMusic.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == bugs">
                                        <img src="/resource/common/images/bugs.png">
                                    </th:block>

                                    <th:block th:if="${links.brand} == flo">
                                        <img src="/resource/common/images/flo.png">
                                    </th:block>
                                </th:block>

                                <th:block th:if="${links.isBrands()} and ${links.isImageUrls()}">
                                    <th:block th:if="${links.brand} == 'youtube'">
                                        <img th:src="${links.imageUrl}">
                                    </th:block>
                                </th:block>

                                <th:block th:if="${!links.isBrands()} and ${links.isImageUrls()}">
                                        <img th:src="${links.imageUrl}">
                                </th:block>
                            </th:block>
                        </div>
                    </div>

                    <div class="grow">
                        <div class="p-2 flex items-center justify-center text-center w-full h-full">
                            <div th:text="${links.linksName}"></div>
                        </div>
                    </div>

                    <div class="flex-none w-10 md:w-14 h-full">
                        <div class="dropdown dropdown-end" th:if="${@rq.isAdmin}">
                            <div tabindex="0" role="button" class="btn btn-square btn-ghost" onclick="handleButtonClick(event)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                            </div>

                            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52" onclick="handleUlClick(event)">
                                <li><a th:href="@{/adm/links/delete/{id}(id=${links.id})}" onclick="handleDeleteClick(event)" data-link-id="${links.id}">삭제하기</a></li>
                                <li><a th:href="@{/adm/links/modify/{id}(id=${links.id})}" onclick="handleModifyClick(event)" data-link-id="${links.id}">수정하기</a></li>
<!--                                <li><a onclick="handleSecondClick(event)">수정하기</a></li>-->
                            </ul>
                        </div>

                        <script th:inline="javascript">
                            function handleButtonClick(event) {
                                event.stopPropagation();
                                event.preventDefault(); // 이 부분은 이벤트의 기본 동작을 방지합니다.
                                // 원하는 작업을 수행하세요.
                            }
                        </script>

                        <script th:inline="javascript">
                            function handleUlClick(event) {
                                event.stopPropagation();
                                event.preventDefault(); // 이 부분은 이벤트의 기본 동작을 방지합니다.
                                // 원하는 작업을 수행하세요.
                            }
                        </script>

                        <script th:inline="javascript">
                            function handleDeleteClick(event) {
                                event.stopPropagation();
                                event.preventDefault();

                                // data-link-id 속성을 통해 links.id 값을 가져옵니다.


                                var linkId = event.target.href;

                                console.log('삭제 클릭! Link ID:', linkId);

                                location.href = linkId;

                                // linkId를 이용하여 원하는 작업을 수행합니다.
                            }
                        </script>

                        <script th:inline="javascript">
                            function handleModifyClick(event) {
                                event.stopPropagation();
                                event.preventDefault();

                                // data-link-id 속성을 통해 links.id 값을 가져옵니다.


                                var linkId = event.target.href;

                                console.log('삭제 클릭! Link ID:', linkId);

                                location.href = linkId;

                                // linkId를 이용하여 원하는 작업을 수행합니다.
                            }
                        </script>

                    </div>
                </div>

            </div>
        </div>

        <script th:inline="javascript">
                        $(".clickable-link").click(function(){
                            var url = $(this).data("url");
                            if (url) {
                                window.open(url);
                            }
                        });
        </script>
    </div>

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>

</main>

</body>
</html>