<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>시너가렛</title>

    <!-- ckeditor 불러오기 -->
<!--    <script src="/js/admin/ckeditor/ckeditor.js"></script>-->


    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!-- 보기 편하게 CSS추가해주었습니다. -->
    <style>
<!--        * {-->
<!--            text-align:  center;-->
<!--        }-->
        #editor {
            /* border : 1px solid; */
            width : 70%;
            margin : 0 auto;
        }
    </style>



</head>

<body>

<main layout:fragment="main">
    <div class="mx-auto max-w-2xl py-8 sm:py-8 lg:py-8">
        <div>
            <div class=" text-center text-2xl font-bold tracking-tight text-gray-900 sm:text-2xl">제품의 정보를 입력해주세요</div>
        </div>
    </div>

<!--    아래는 toast ui 에디터 사용-->
    <form th:action method="POST" th:object="${goodsCreateForm}" class="flex flex-col gap-6">
        <div th:replace="~{adm/goods/form_errors :: formErrorsFragment}"></div>

        <th:block th:if="true">
            <div class="form-control">
                <div class="mb-3">
                    <label for="goodsName" class="form-label">제품 명</label>
                    <input maxlength="200" autocomplete="off" type="text" placeholder="제목(200자 이하)"
                           class="input input-bordered" th:field="*{goodsName}" name="goodsName">
                    <!--
                    th:field="*{subject}" ==> id="subject" name="subject" th:value="*{subject}"
                    -->
                </div>
            </div>

            <div  class="form-control">
                <div class="mb-3">
                    <label for="goodsPrice" class="form-label">제품 가격</label>
                    <input maxlength="200" autocomplete="off" type="number" placeholder="가격(필수 사항)"
                           class="input input-bordered" th:field="*{goodsPrice}" name="goodsPrice">
                    <!--
                    th:field="*{subject}" ==> id="subject" name="subject" th:value="*{subject}"
                    -->
                </div>
            </div>

            <!--     에디터를 적용할 요소 (컨테이너)-->
            <div>
                <div id="editor">

                </div>
            </div>

            <div>
                <!-- 에디터의 내용을 저장할 감춰진 textarea -->
                <textarea id="editorContent" type="text" th:field="*{goodsDetail}" name="goodsDetail" style="display: none;"></textarea>
            </div>


            <!-- 버튼 클릭 시 에디터의 내용을 감춰진 textarea에 설정하고, 폼을 서버로 제출 -->
            <!--        <button type="button" >저장하기</button>-->


            <button type="submit" id="submitBtn" class="btn btn-success my-2">저장하기</button>


            <!--        <div>-->
            <!--            <input type="button" id="editorGetHtml" value="HTML보기">-->
            <!--        </div>-->


            <!--     ToastUI 에디터 불러오기-->
            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

            <!--     TUI 에디터 JS CDN-->
            <script>
                const editor = new toastui.Editor({
                    el: document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
                    height: '800px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
                    initialEditType: 'wysiwyg',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
                    initialValue: '내용을 입력해 주세요.',     // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
                    previewStyle: 'vertical',                // 마크다운 프리뷰 스타일 (tab || vertical)
                    /* start of hooks */
                    hooks: {
                        async addImageBlobHook(blob, callback) { // 이미지 업로드 로직 커스텀
                            try {
                                /*
                                 * 1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                                 *    (이때, 컨트롤러 uploadEditorImage 메서드의 파라미터인 'image'와 formData에 append 하는 key('image')값은 동일해야 함)
                                 */
                                const formData = new FormData();
                                formData.append('image', blob);

                                // 2. FileApiController - uploadEditorImage 메서드 호출
                                const response = await fetch('/tui-editor/image-upload', {
                                    method : 'POST',
                                    body : formData,
                                });

                                // 3. 컨트롤러에서 전달받은 s3에 저장된 파일명
                                const filename = await response.text();


                                // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
                                callback(filename, 'image alt attribute');

                            } catch (error) {
                                console.error('업로드 실패 : ', error);
                            }
                        }
                    }
                    /* end of hooks */
                });

                // 버튼 클릭 시 에디터의 내용을 textarea에 설정하고, 폼을 서버로 제출
                document.getElementById('submitBtn').addEventListener('click', () => {
                    const editorContent = editor.getHTML(); // 또는 editor.getHTML() or getMarkdown() 사용 가능
                    document.getElementById('editorContent').innerText = editorContent;
                    document.querySelector('form').submit();
                });

                document.getElementById('editorGetHtml').addEventListener('click', () => {
                    console.log(editor.getHTML());
                });
            </script>
        </th:block>

    </form>

</main>

</body>
</html>