<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>Title</title>

</head>

<body>

<main layout:fragment="main">




    <div class="container mx-5">

        <div class="flex justify-between">
            <div>
                <i class="fa-solid fa-list-ol"></i>
                배송지 목록
            </div>

            <div>
                <a href="#" onclick="window.open('/delivery/addAddressForm', '_blank', 'width=900,height=1000');">배송지 추가</a>
            </div>
        </div>

        <hr />
        <br></br>

        <form th:action="@{/delivery/selectAddress}" method="POST" id="selectDeliveryForm" th:object="${deliveryIdForm}">
            <div th:if="${!#lists.isEmpty(deliveryAddressList)}">
                <div th:each="deliveryAddress : ${deliveryAddressList}" class="mt-5">
                    <!--                    <input type="checkbox" name="selectCartItem" class="checkbox" id="checkBoxToDelivery" th:value="${deliveryAddress.id}" />-->
                    <!--                    <label for="checkBoxToDelivery">-->
                    <div class="card bg-base-100 shadow-xl border" >
                        <div class="card-body">
                            <h2 class="card-title" th:text="${deliveryAddress.addressName}"></h2>
                            <div th:text="${deliveryAddress.phoneNumber}"></div>
                            <div th:text="|(${deliveryAddress.postNumber}) ${deliveryAddress.address} ${deliveryAddress.detailAddress}|"></div>
                            <div th:text="|딜리버리 id = ${deliveryAddress.id}|"></div>

                            <div class="card-actions justify-end">
                                <!--                                        <button class="btn btn-primary">Buy Now</button>-->
                                <input type="hidden" id="deliveryAddressId" name="nowDelivery" th:value="${deliveryAddress.id}" >
                                <button type="submit" class="btn btn-primary" id="submitBtn">Buy Now</button>

                            </div>


                        </div>
                    </div>
                    <!--                    </label>-->
                </div>
            </div>
        </form>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $("#submitBtn").click(function(e) {
                e.preventDefault(); // 기본 폼 제출 방지

                var form = $("#selectDeliveryForm");
                var formData = form.serialize(); // 폼 데이터를 가져옴

                console.log(formData)

                $.ajax({
                    type: "POST",
                    url: "/delivery/selectAddress",
                    data: formData,
                    success: function(response) {
                        // 성공 시 수행할 작업
                        // 현재 창 닫기
                            window.opener.location.reload(); // 부모 창 새로고침
                            window.close();
                        console.log(response);
                    },
                    error: function(error) {
                        // 오류 발생 시 수행할 작업
                        console.log(error);
                    }
                });
            });
        });
    </script>


</main>

</body>
</html>